.contact-info {
    @include cover-display;
    justify-content: space-between;
    height: 100px;
}

.contact-info__contacts-container {
    @include cover-display;
}

.logo {
    color: $red-color;
    font-size: 50px;
    font-weight: bold;
}

.contact-info__contact-item {
    @include cover-display;
    justify-content: center;
    padding-right: 48px;
}
.phone-icon {
    width: 24px;
    height: 22px;
}

.contacts-phone{
    font-weight: bold;
}

.email-icon {
    width: 22px;
    height: 24px;
    margin-right: 5px;
}

.contact-info__messangers{
    display: flex;
    margin-right: 48px;
}

.messangers__icons-container {
    @include cover-display;
    justify-content: center;
    width: 51px;
    height: 51px;
    background-color: $light-background;
    margin-right: 11px;
    border-radius: 8px;
}

.messangers-icons {
    width: 26px;
    height: 26px;
}

.btn-contact-with {
    width: 180px;
    height: 51px;
    background-color: $red-color;
    color: $btns-color;
    border: none;
    border-radius: 8px;
}

.header__menu-btn {
    display: none;
}


.navbar {
    @include cover-display;
    justify-content: space-evenly;
    background-color: $basic-color;
    height: 100px;
}

.navbar-item {
    list-style-type: none;
    font-size: 25px;
    text-align: center;
    color: rgb(25, 25, 25);
}

.navbar-link {
    text-decoration: none;
    color: $btns-color;
}

@media (max-width: 1024px) { 
    .navbar-item {
        font-size: 17px;
    }
}

@media (max-width: 600px) {

    .contact-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-info__messangers {
        margin-right: 0;
    }

    .contact-info__contacts {
        display: none;
    }

    .btn-contact-with {
        display: none;
    }

    .header__menu-btn {
        display: block;
        position: relative;
        width: 55px;
        height: 51px;
        background-color: rgb(25, 25, 25);
        border: none;
        border-radius: 8px;
    }

    .icon-color {
        color: $btns-color;
        font-size: 30px;
        background-color: rgb(0, 0, 0);
    }



    .close-icon-wrapper {
        position: absolute;
        top: 10px;
        right: 7px;
        text-align: center;
        width: 40px;
        height: 30px;
        background-color: rgb(0, 0, 0);

        &--disabled {
            display: none;
        }
    }

    .navbar {
        display: none;
        background-color: rgba(245, 245, 245, 1);
        margin-top: 37px;
    }
    
    .navbar--isActive {
        display: flex;
        position: absolute;
        right: 6%;
        top: 8%;
        height: 300px;
        width: 300px;
        background-color: $secondary-color;
        flex-direction: column;
    }

    .navbar-link {
        color: rgb(25, 25, 25);
    }
    
}
